@import "tailwindcss";

@theme {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-tertiary: var(--color-tertiary);
    --color-accent: var(--color-accent);
}

:root {
    --background: hsl(200, 50%, 90%);
    --foreground: hsl(200, 50%, 10%);
    --color-tertiary: hsl(260, 80%, 20%);
    --color-accent: hsl(140, 80%, 20%);
}

.dark {
    --background: hsl(200, 50%, 10%);
    --foreground: hsl(200, 50%, 90%);
    --color-tertiary: hsl(260, 80%, 80%);
    --color-accent: hsl(140, 80%, 80%);
}

body {
    color: var(--foreground);
    background-color: var(--background);
}

.heatmap-container .react-calendar-heatmap text {
    font-size: 5px;
    color: var(--foreground);
}

.react-calendar-heatmap .color {
    fill: var(--color-tertiary);
}

.color-scale-0 {
    opacity: 0.05;
}

.color-scale-1 {
    opacity: 0.2;
}

.color-scale-2 {
    opacity: 0.5;
}

.color-scale-3 {
    opacity: 0.75;
}
.color-scale-4 {
    opacity: 1;
}

.delete-tooltip.delete-tooltip {
    background-color: var(--color-tertiary);
    z-index: 10;
}
